{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1472173148041-00294f0814a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">My life, my hobbies and more.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi! I’m Ritesh Kumar, a passionate Full Stack Developer who loves building web apps, solving problems, and continuously learning. I created this blog to share my journey through tech from personal projects and coding experiments to real-world experiences and lessons from the industry.</p>
        <p>Whether it’s React, Redux, Python, or diving into system design or data visualization, I enjoy turning ideas into working products. I’m also deeply interested in topics like scalable architecture, clean code, and performance optimization.</p>
        <p>Through this blog, I aim to document what I learn, share insights that might help others, and stay curious along the way. Feel free to connect, explore, and code along with me!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}